USE [master]
GO
/****** Object:  Database [ChatApplication]    Script Date: 3/18/2020 12:18:03 AM ******/
CREATE DATABASE [ChatApplication]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatApplication', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ChatApplication.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChatApplication_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ChatApplication_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatApplication].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatApplication]
GO
/****** Object:  Table [dbo].[GROUP]    Script Date: 3/18/2020 12:18:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[user_1] [nchar](20) NOT NULL,
	[user_2] [nchar](20) NOT NULL,
 CONSTRAINT [PK_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Message]    Script Date: 3/18/2020 12:18:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[sender_id] [nchar](20) NOT NULL,
	[group_id] [int] NOT NULL,
	[message] [nvarchar](max) NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER]    Script Date: 3/18/2020 12:18:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[userName] [nchar](20) NOT NULL,
	[passWord] [nchar](30) NOT NULL,
	[name] [nvarchar](100) NULL,
	[avatar] [nchar](300) NULL,
	[status] [bit] NULL CONSTRAINT [DF_USER_status]  DEFAULT ((1)),
	[active] [bit] NULL CONSTRAINT [DF_USER_active]  DEFAULT ((1)),
 CONSTRAINT [PK_USER_1] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GROUP]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_USER] FOREIGN KEY([user_1])
REFERENCES [dbo].[USER] ([userName])
GO
ALTER TABLE [dbo].[GROUP] CHECK CONSTRAINT [FK_GROUP_USER]
GO
ALTER TABLE [dbo].[GROUP]  WITH CHECK ADD  CONSTRAINT [FK_GROUP_USER1] FOREIGN KEY([user_2])
REFERENCES [dbo].[USER] ([userName])
GO
ALTER TABLE [dbo].[GROUP] CHECK CONSTRAINT [FK_GROUP_USER1]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK__Message__group_i__5EBF139D] FOREIGN KEY([group_id])
REFERENCES [dbo].[GROUP] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK__Message__group_i__5EBF139D]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_USER] FOREIGN KEY([sender_id])
REFERENCES [dbo].[USER] ([userName])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_USER]
GO
ALTER TABLE [dbo].[GROUP]  WITH CHECK ADD  CONSTRAINT [check_same_value] CHECK  (([user_1]<>[user_2]))
GO
ALTER TABLE [dbo].[GROUP] CHECK CONSTRAINT [check_same_value]
GO
USE [master]
GO
